@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slider {
  height: 5px;
  background: #e4e4e7;
  border-radius: 2px;
  position: relative;
}

.track {
  background: #9333ea;
  height: 5px;
  position: absolute;
  top: 0;
  border-radius: 2px;
}

.thumb {
  width: 15px;
  height: 15px;
  background: #9333ea;
  border-radius: 50%;
  cursor: grab;
}
